.benefit {
  padding: 70px 0 72px;
}

.benefit__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit__title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 27px;
}

.benefit__subtitle {
  display: flex;
  align-items: center;
  gap: 23px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 35px;
}

.benefit__subtitle::after {
  content: "";
  display: inline-block;
  width: 43px;
  height: 2px;
  background-color: #383A4C;
}

.benefit__subtitle::before {
  content: "";
  display: inline-block;
  width: 43px;
  height: 2px;
  background-color: #383A4C;
}

.benefit__description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  max-width: 724px;
  margin-bottom: 57px;
}

.benefit__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  counter-reset: count 0;
}

.benefit__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-basis: 196px;
}

.benefit__item::before {
  display: block;
  content: "";
  width: 122px;
  height: 122px;
  background-color: #23C7EC;
  border-radius: 50%;
}

.benefit__item::after {
  position: absolute;
  content: counter(count);
  top: 52%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #FFF;
  font-size: 57px;
  font-weight: 500;
  counter-increment: count;
}

.benefit__item-discription {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}

@media (max-width: 1024px) {
  .benefit__title {
    font-size: 32px;
    margin-bottom: 26px;
  }

  .benefit__subtitle {
    gap: 22px;
    font-size: 20px;
    margin-bottom: 31px;
  }

  .benefit__subtitle::after {
    width: 40px;
  }
  
  .benefit__subtitle::before {
    width: 40px;
  }

  .benefit__description {
    max-width: 670px;
    font-size: 16px;
  }

  .benefit__item {
    gap: 27px;
    flex-basis: 180px;
  }

  .benefit__item::before {
    width: 104px;
    height: 104px;
}

.benefit__item::after {
  font-size: 52px;
  top: 47%;
}

  .benefit__item-discription {
    font-size: 18px;
  }
}

@media (max-width: 870px) {
  .benefit__list {
    gap: 30px;
  }
}

@media (max-width: 810px) {
  .benefit__list {
    gap: 15px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .benefit {
    padding: 30px 0 62px;
  }

  .benefit__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .benefit__subtitle {
    gap: 25px;
    font-size: 16px;
    margin-bottom: 28px;
  }

  .benefit__subtitle::after {
    width: 20px;
  }
  
  .benefit__subtitle::before {
    width: 20px;
  }

  .benefit__description {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .benefit__list {
    flex-direction: column;
    gap: 42px;
  }

  .benefit__item {
    gap: 26px;
    flex-basis: 0;
    width: 190px;
  }
}