.footer {
  padding: 45px 0;
  background-color: #2F324B;
  color: #FFFFFF;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrap {
  display: flex;
  align-items: center;
  gap: 19px;
  flex-basis: 213px;
}

.footer__copyright {
  flex-basis: 127px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.footer__author {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}


@media (max-width: 1024px) {
  .footer {
    padding: 36px 0 49px;
  }

  .footer__author {
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    background: linear-gradient(to bottom, #2F324B 63%, #2A2C3F 37%);
    position: relative;
    padding: 25px 0 0;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 25px;
  }

  .footer__copyright {
    flex-basis: 85px;
    font-size: 8px;
  }

  .footer__author {
    order: 1;
    width: 100%;
    text-align: center;
    line-height: 47px;
  }
}